* {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

a {
  background-color: #81bff4;
  padding: 15px;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

button {
  cursor: pointer;
}

body {
  padding-bottom: 20px;
}

body.active {
  overflow-y: hidden;
}

button:active,
button:focus {
  outline: none;
}

input:active,
input:focus {
  border: 1px solid blue;
}

.container {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  color: #000;
}

.action__title {
  font-size: 36px;
  text-align: center;
}

.action__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 45px;
}

.action__item {
  min-width: 360px;
  width: 33%;
  text-align: center;
  cursor: pointer;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.action__item-title {
  font-size: 24px;
  font-weight: 600;
}

.action__item-description {
  font-size: 18px;
  margin-bottom: 25px;
}

.action__item-img img {
  max-width: 320px;
}

.action__item-btn:hover {
  opacity: 0.8;
}

.action__item {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.action-animation {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: wipe-enter 1.5s 1;
          animation: wipe-enter 1.5s 1;
}

@-webkit-keyframes wipe-enter {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes wipe-enter {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
